* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    align-items: center;
    padding: 40px;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row {
    display: flex;
}

#squares {
    height: 40px;
    width: 80px;
    border-radius: 4px;
}

#squares:hover {
    cursor: pointer;
}